@include mq('all') {
	body::after {
		content: 'moduleX WITHOUT MQ';
	}
}

@include mq('tablet') {
	body::after {
		content: 'moduleX in TABLET MQ';
	}
}

@include mq('desktop') {
	body::after {
		content: 'moduleX in DESKTOP MQ!';
	}
}
