@include mq('all') {
	@media screen and (min-width: 1px) {
		body::after {
			content: 'Testmodule in CUSTOM MQ';
		}
	}
}

@include mq('mobile') {
	body::after {
		content: 'Testmodule in MOBILE MQ';
	}
}

@include mq('tablet') {
	body::after {
		content: 'Testmodule in TABLET MQ';
	}
}

@include mq('desktop') {
	body::after {
		content: 'Testmodule in DESKTOP MQ';
	}
}

