@import '../../../../style/setup'

.sidemenu__content
    // background-color $palette_primary !important
    min-width 300px
    h2, h3
        padding 0 2rem
    #ThemeSwitch
        padding 1rem
// .sidemenu__list
