{
  "presets": ["@babel/react23", "@babel/react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
