# Environment
.env
/vendor
# ignore only the root .htaccess (may contain sensible data)
.htaccess
!/wordpress/.htaccess

# NPM
node_modules/
npm-debug.log
package-lock.json
# use yarn as default
# yarn.lock

# Wordpress
wordpress/wp-config.php

# IDE
.idea
*.sublime-*

# MISC
.DS_Store

build/*
