// import setup before stylus23!
@import './setup.styl'
@import 'stylus23'
@import './lib/fonts'

body
    font-family 'Federant', 'Helvetica', 'sans serif', 'Arial'
    height 100%
    width 100%
    margin 0
    padding $ENV__COUNTER
    // rem base
    font-size 14px
    +MQ('m')
        font-size 16px

#app
  // fade in after layout is loaded
  opacity 1 !important // overwrite inline style
  transition opacity 300ms ease-out

.wrapper
  padding 0 $layout__wrapper_padding
  // transition padding 1s ease-out

.page
  @extend .wrapper
