@import './setup.styl'
@import './lib/fonts'

body
    font-family 'Federant', 'Helvetica', 'sans serif', 'Arial'
    height 100%
    width 100%
    margin 0
    padding 0

.wrapper
  padding 0 $layout__wrapper_padding
  transition padding 1s ease-out
