@import './lib/fonts'
// import setup before stylus23!
@import './setup.styl'
@import 'stylus23'

body
    font-family "Roboto", "Helvetica", "Arial", sans-serif
    height 100%
    width 100%
    margin 0
    padding 0
    // rem base
    font-size 14px
    +MQ('m')
        font-size 16px

h1
    font-family 'Federant', 'Helvetica', 'sans serif', 'Arial'

#loader
  display none

#app
  // fade in after layout is loaded
  opacity 1 !important // overwrite inline style
  transition opacity 300ms ease-out

.wrapper
  padding 0 $layout__wrapper_padding
  // transition padding 1s ease-out

.page
  @extend .wrapper
