//     __  _____  ______   __  __
//    /  |/  / / / /  _/  / /_/ /_  ___  ____ ___  ___
//   / /|_/ / / / // /   / __/ __ \/ _ \/ __ `__ \/ _ \
//  / /  / / /_/ // /   / /_/ / / /  __/ / / / / /  __/
// /_/  /_/\____/___/   \__/_/ /_/\___/_/ /_/ /_/\___/
//
//
//

$color__palette_primary   ?= #1A237E
$color__palette_secondary ?= #FFB300

//     ____                  __ ___  _____
//    / __ \___  ____ ______/ /|__ \|__  /
//   / /_/ / _ \/ __ `/ ___/ __/_/ / /_ <
//  / _, _/  __/ /_/ / /__/ /_/ __/___/ /
// /_/ |_|\___/\__,_/\___/\__/____/____/
//
//

@import './lib/variables'
