//     ___    ____  ____     _____________  ____    ______
//    /   |  / __ \/ __ \   / ___/_  __/\ \/ / /   / ____/
//   / /| | / /_/ / /_/ /   \__ \ / /    \  / /   / __/
//  / ___ |/ ____/ ____/   ___/ // /     / / /___/ /___
// /_/  |_/_/   /_/       /____//_/     /_/_____/_____/
//
// This file is for global inclusions and layout definitions
// modules should be defined in their component sub dir

@import 'stylus23'
@import '../style/layout'

body
    font-size 14px
    +MQ('m')
        font-size 16px
